body
{
    background-color: lightgray;
}

#header_lbl
{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 650;
    line-height: 3;
}

h4, h3{
    font-family: 'Times New Roman';
}

.footer
{
    position: fixed;
    bottom: 0;
    background-color:aqua;
    line-height: 3;
    text-align: center;
    width: 100%;
}

img {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
}

img:hover {
    border-radius: 25px;
    border-style: ridge;
    padding-top: 5px;
    padding-bottom: 5px;
}